/*Universal*/

/*setting font family*/
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*making all h3's underlined*/
h3{
    text-decoration: underline;
}

/*Nav*/

/*All in this section creates a Navbar with a teal background
with the logo and site title floating left, and the links 
floating to the right.*/

/*Creating the navbar across the top of the screen*/
.navContent{
    width: 99%;
    float: top;
    background-color: #1bb59b;
    padding: 10px;
}

/*aligning the links to the right of the navbar and centering
them horizontally*/
.Links{
    float: right;
    font-size: 16pt;
    margin-top: 40px;
}

/*text style for text and anchors within the navbar*/
nav a, nav p{
    display: inline-block;
    padding: .25rem;
    text-decoration: none;
    color:white;
    font-weight: bold;
}

/*making the text within navbar larger than anchors*/
nav p {
    font-size: 24pt;
}

/*Sets a new color and bg color when hovering*/
nav a:hover{
    background-color: rgb(255, 89, 0);
    color: rgb(255, 239, 192)
}

/*Acessibility*/

.container{
    position: absolute;
    right: 13%;
    width: 245px;
    background-color: white;
}

.container .toggle{
    position: absolute;
    top: 5px;
    right: 0;
    width: 90px;
    height: 50px;
    background-color: darkcyan;
    border-radius: 30px;
}

.container .toggle .toggle-button{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3%;
}

.container .toggle.active .toggle-button{
    left: 45px;
}

.container .text{
    position: absolute;
    
    left: 0;
    padding-top: 20px;
}

@font-face { 
    font-family: "OpenDyslexic"; 
    src: url('https://dl.dropboxusercontent.com/s/qfpakpjedhsrdb9/OpenDyslexicAlta-Regular.ttf'); 
} 

body.active {
    font-family: OpenDyslexic;
    font-size: 12pt;
 }

/*Main*/

/*body background color set*/
body {
    background-color: antiquewhite
}

/*Creates style (border, align, and padding) for the images contained in the main section*/
main img {
    padding: 1rem;
    border: 5px;
    border-color: darkcyan;
    border-style: dashed;
    display: block;
    margin: auto;
    object-fit: cover;

}

/*sets body DIV to have side borders, a white background, aligned center, and a consistent font size*/
.main {
    background-color: white;
    margin: auto;
    border-left: groove 30px#1bb59b;
    border-right: groove  30px #1bb59b;
    width: 75%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    padding-top: 50px;
    font-size: 14pt;
}

/*changes anchor element colors within main*/
.main a {
    color:  rgb(255, 89, 0);
}

/*Info table*/

/*both sets table layout and sizing*/
table {
    padding: 15px;
    table-layout:fixed;
    width:100%;
}

td {
    padding: 15px;
}

/*Form Page*/

#formContent{
    display: inline-block;
    width: 55%;
}

#thanks {
    display: inline-block;
    width: 40%;
    float: right;
    margin-top: 100px;
}

/*Footer*/

/*creates a similar style to the header but with the contact information
but at the bottom of each site*/
.footer {
    background-color: #1bb59b;
    text-align: center;
    padding: .25rem;
    color:white;
    font-weight: bold;

}
